---
import '../sylting/style.css'
import FAQ from '../components/faq.astro'
import Faq from '../components/faq.astro'
const faqitems= [
	{
		question: "Who can participate?",
		answer: "Highschoolers globally! Anyone aged 13-18 is eligible :]"
	},
	{
		offset: true,
		question: "How much does it cost?",
		answer: "Its completely free! although, customs might occur outside of the US when we ship your prizes."
	},
	{
		question: "Is this real?",
		answer: "Yes! Hack Club is a 501(c)(3) nonprofit and network of 60k+ technical high schoolers. We believe you learn best by building so we're creating community and providing grants so you can make awesome projects."
	},
	{ 
		offset: true,
		question: "what if i'm a beginner?",
		answer: "Don't worry! All of us started somewhere - and the community is always willing to help you!  (should we run workshops? ehh i dont think will there be enough participants that this is necessary?)",
	},
	{ 
		question: "question",
		answer: "answer",
	},
	{
		offset: true,
		question: "I have other questions!",
		answer: "send your questions in #channelname or dm @turdle!"
	}
]
---
<style>
input[type="email"] {
	padding: 20px 60px 20px 60px;
	border-radius: 20px;
	outline: none;
	background-color: #BBD3E9;
	font-size: 25px;
	border: 0px;
	transform: rotate(-4deg);
	margin-bottom: 40px;
}
input::placeholder {
	color: rgb(255, 255, 255);
}
input[type="email"]:focus {
	outline: none;
}
div.faq {
display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 40px;
}
</style>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<img src="/images/topart.png" alt="top orpheus guild wide art" style="max-width: 100%;">
		<p><i>date - date</i></p>
		<form method="POST">
		<label>
		<input type="email" id="email" placeholder="enter your email..." required/>
		</label>
		</form>
		<p> how it works art n text stuffs here (form a team, do quests, submit your game, get prizes)</p>
		<p>prize images here</p>
		<h1>FAQ</h1>
		<div class="faq">
		{faqitems.map((item) => (
		<Faq
		question={item.question}
		answer={item.answer}
		offset={item.offset}
		/>
		))}
		</div>
		<p><i>a hack club ysws made with ❤️ by @turdle, @renran sun, @cafeEntity, @Tanuki and @xvcf</i></p>
	</body>
</html>