---
import '../../dist/output.css';
import FAQ from '../components/faq.astro'
import Faq from '../components/faq.astro'
import '../styling/style.css'
const faqitems= [
	{
		question: "Who can participate?",
		answer: "Highschoolers globally! Anyone aged 13-18 is eligible :]"
	},
	{
		offset: true,
		question: "How much does it cost?",
		answer: "Its completely free! although, customs might occur outside of the US when we ship your prizes."
	},
	{
		question: "Is this real?",
		answer: "Yes! Hack Club is a 501(c)(3) nonprofit and network of 60k+ technical high schoolers. We're providing grants so you can make awesome projects."
	},
	{ 
		offset: true,
		question: "what if i'm a beginner?",
		answer: "Don't worry! All of us started somewhere - and the community is always willing to help you!  (should we run workshops? ehh i dont think will there be enough participants that this is necessary?)",
	},
	{ 
		question: "question",
		answer: "answer",
	},
	{
		offset: true,
		question: "I have other questions!",
		answer: "send your questions in #channelname or dm @turdle!"
	}
]
---
<style>

input[type="email"] {
	padding: 20px 60px 20px 60px;
	border-radius: 20px;
	outline: none;
	background-color: #BBD3E9;
	font-size: 25px;
	border: 0px;
	transform: rotate(-4deg);
	margin-bottom: 40px;
	transition: transform 0.2s ease;
}
input:hover {
	transform: scale(1.2) rotate(5deg);
}
input::placeholder {
	color: rgb(255, 255, 255);
}
input[type="email"]:focus {
	outline: none;
}
div.faq {
display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 35px;
}
</style>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<img src="https://assets.hackclub.com/flag-orpheus-left.svg" alt="orpheus flag - left" class="absolute top-0 left-0 z-10 block">
		<img src="/images/topart.png" alt="top orpheus guild wide art" class="max-w-full">
		<p><i>date - date</i></p>
		<form method="POST">
		<label>
		<input type="email" id="email" placeholder="enter your email..." required/>
		</label>
		</form>
		<h1>HOW DOES THIS WORK?</h1>
		<p> how it works art n text stuffs here (form a team, do quests, submit your game, get prizes)</p>
		<div class="flex justify-center flex-wrap gap-4"> 
		<img class="hover:hue-rotate-30 transform hover:rotate-5 transition-all duration-300 ease-in" src="/images/1.png" alt="sign up w email & join the slack"/>
		<img class="hover:hue-rotate-30 transform hover:rotate-5 transition-all duration-300 ease-in" src="/images/2.png" alt="find a team- create or request to join a party at the board"/>
		<img src="/images/2.png" alt="placeholder"/>
		<img src="/images/2.png" alt="placeholder"/>
		<img src="/images/2.png" alt="placeholder"/>
		<img src="/images/2.png" alt="placeholder"/>
		</div>
		<h1>WHAT DO I GET?</h1>
		<p>prize images here in an arc, text above explaining payout rates</p>
		<h1>FAQ</h1>
		<div class="faq">
		{faqitems.map((item) => (
		<Faq
		question={item.question}
		answer={item.answer}
		offset={item.offset}
		/>
		))}
		</div>
		<p><i>a hack club ysws made with ❤️ by @turdle, @renran sun, @cafeEntity, @Tanuki and @xvcf</i></p>
	</body>
</html>