---
import '../sylting/style.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<img src="/images/topart.png" alt="top orpheus guild wide art" style="max-width: 100%;">
		<p><i>date - date</i></p>
		<p><i>a hack club ysws made with ❤️ by @turdle, @renran sun, @cafeEntity, @Tanuki and @xvcf</i></p>
	</body>
</html>