@import "tailwindcss";

body {
	margin: 0;
	padding: 0;
	background-color: rgba(253, 253, 238, 0.5);
	background-image:
		linear-gradient(#ada29f 1px, transparent 1px),
		linear-gradient(to right, #ada29f 1px, #fdfdee 1px);
	background-size: 40px 40px;
}

html::-webkit-scrollbar {
	display: none;
}

* {
	text-align: center;
	color: #1a426a;
	font-family: "Space Mono", monospace;
}
h1 {
	font-size: xx-large;
}
