---
interface Props {
    offset?: boolean;
    question: string;
    answer: string;
}
const {offset,question,answer} = Astro.props;
---
<style>
.card {
    height: 300px;
    width: 300px;
    background-color: #42769c;
    margin: 10px;
    display: block;
    border-radius: 10px;
    border: 20px solid #BBD3E9;
}
.card p {
    padding: 10px;
}
.card.offset {
  margin-top: 70px;
}
</style>
<div class={`card ${offset ? 'offset' : ''}`}>
<h2>{question}</h2>
<p>{answer}</p>
</div>
