---
interface Props {
    offset?: boolean;
    question: string;
    answer: string;
}
const {offset,question,answer} = Astro.props;
---
<style>
.card {
    height: 300px;
    width: 300px;
    background-color: rgba(66, 119, 156, 0.9);
    margin: 10px;
    display: block;
    border-radius: 10px;
    border: 20px solid rgba(220, 238, 255, 0.3);
    animation: back 0.5s ease forwards;
}
.card:hover {
    animation: enlargen 0.5s ease forwards;
}
.card p {
    padding: 10px;
    color: rgb(255, 255, 255) !important;
}

.card.offset {
  margin-top: 70px;
}
h2 {
    color: rgb(255, 255, 255) !important;
}
@keyframes enlargen {
    0% {height: 300px; width: 300px; transform: rotate(0deg);}
    100% {height: 350px; width: 350px; transform: rotate(5deg);}
}
@keyframes back {
    0% {height: 350px; width: 350px; transform: rotate(5deg);}
    100% {height: 300px; width: 300px; transform: rotate(0deg);}
}
</style>
<div class={`card ${offset ? 'offset' : ''}`}>
<h2>{question}</h2>
<p>{answer}</p>
</div>
