@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body {
    margin: 0;
    padding: 0;
    background-color: #1a426a; /* op1: #1a426a op2: #214954 */
}
html::-webkit-scrollbar { /*hide website scrollbar*/
    display: none;
  }
* {
    text-align: center;
    color: #fffcea;
    font-family:'Space Mono', monospace;
}
p {
    margin: 20px 0 20 0;
}
h1 {
    font-size: xx-large;
}
h2 {
    font-size: large;
}