---
import '../styling/style.css';
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <slot name="head" />
    <title>Astro Tailwind</title>
  </head>
  <body>
    <slot />
  </body>
</html>
